# Application
./project/web/app/plugins/*
./project/!web/app/plugins/.gitkeep
./project/web/app/mu-plugins/*/
./project/web/app/upgrade
./project/web/app/uploads/*
./project/!web/app/uploads/.gitkeep

# WordPress
./project/web/wp
./project/web/.htaccess

# Logs
./project/*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
project/vendor

# WP-CLI
wp-cli.local.yml
